.themeDark {
    background-image: url("../../../images/darkHome.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.themeLight {
    background-image: url("../../../images/lightHome.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}